<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <title>Receba novidades</title>
    </head>
<body>
    <h1 class="display 2">Cadastre-se no nosso site </h1>
    <hr />

    <form action="" method="GET">
        
        <input type="nome" placeholder="Digite o nome" class="form-control my-3">
        <input type="email" placeholder="Digite seu email" class="form-control my-3">
        <input type="senha" placeholder="Digite sua senha" class="form-control my-3">


        </br>
        
        <div class="mt-4">
            <button class="btn btn-primary">Cadastrar </button>
           

        </div>    
    </form>    
</body> 

</html>